@model TimetableSys_T17.Room

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="../../content/rooms.css">
<script type="text/javascript">
   
    $(function() {
        $("#capacity").spinner({
            min: 1,
            max: 400,
            change: function (event, ui) {
                $("#cap").val($("#capacity").val());
            }
        });
        $("#capacity").spinner("value", 50);

        $("button").button();
    });
    
</script>

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="centre">
        <h4 class ="centre">Room</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div>@ViewBag.error</div>

        <div class="centre">
            @Html.LabelFor(model => model.roomCode, "Room Code", htmlAttributes: new { @class = "centre" })
            @Html.EditorFor(model => model.roomCode)
            @Html.ValidationMessageFor(model => model.roomCode)

            &#160; 	&#160; 	&#160; 	&#160; 	&#160; 	&#160; 	&#160; 	&#160;

            @Html.LabelFor(model => model.buildingID, "Building Name", htmlAttributes: new { @class = "centre" })
            @Html.DropDownList("buildingID", "Select")

        </div>

        <hr />
        <div class="left">
            <label> Facility Name</label>
            <br />
            @Html.ListBox("fac",
                 new MultiSelectList(@ViewBag.facilities, "facilityID", "facilityName"), htmlAttributes: new { @class = "select"})

            &#160; 	&#160; 	&#160; 	&#160; 	&#160; 	&#160; 	&#160; 	&#160; &#160; &#160; &#160;

            <label for="capacity">Capacity:</label>
            <input id="capacity" name="value">
            @Html.HiddenFor(model => model.capacity, new {@id="cap"})

            &#160; 	&#160; 	&#160; 	&#160; 	&#160; 	&#160; 	&#160; 	&#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;

            @Html.LabelFor(model => model.lab, "Lab" ,htmlAttributes: new { @class = "" })
            @if(@ViewBag.Lab == 1){
                @Html.CheckBox("Labe",true)
            }
            else{
                @Html.CheckBox("Labe")
            }   

        </div>
        <br />
        <br />
    </div>
    <div class="form-group">
        <div class="centre">
            <input type="submit" value="Create Room" class="btn btn-default" />
        </div>
    </div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>