@model TimetableSys_T17.Room

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div>
    <h4>Room Details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
           Room Code:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomCode)
        </dd>

        <dt>
             Building:
        </dt>

        <dd>
            @ViewBag.building
        </dd>
        <dt>
            Facilities
        </dt>
        @if(@ViewBag.count == 0)
        {
            <dd>No facilities</dd>
        }
        else{
            foreach (var x in @ViewBag.Fac[0])
            {
                <dd>@x</dd>
            }
        }  
        <dt>
            @Html.LabelFor(model => model.capacity, "Capacity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
           Lab: 
        </dt>

        <dd>
            @if(@ViewBag.Lab == 1){
                <p>Yes</p>
            }
            else{
                <p>No</p>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
