@model TimetableSys_T17.Room

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="../../content/rooms.css">
<script type="text/javascript">
   
    $(function() {
        $("#capacity").spinner({
            min: 1,
            max: 400,
            change: function (event, ui) {
                $("#cap").val($("#capacity").val());
            }
        });
        $("#capacity").spinner("value", $("#cap").val());

        $("button").button();
    });
    
</script>

<h2>Edit Room</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="centre">
      
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.roomID)
        <div>@ViewBag.error</div>
      
            
            

         
            
            
     


      
            
    

            


            
            

        
            
     
    </div>
    <table>
        <tr>
            <td><label for="capacity">Capacity:</label></td>
            <td><input id="capacity" name="value">

            @Html.HiddenFor(model => model.capacity, new {@id="cap"})</td>
        </tr>
        <tr>
            <td><label> Facility Name</label></td>
            <td>@Html.ListBox("fac", new MultiSelectList(@ViewBag.facilities, "facilityID", "facilityName", @ViewBag.selectedFac))</td>
        </tr>
        <tr>
            <td>Room Code</td>
            <td>
                @Html.EditorFor(model => model.roomCode)
                @Html.ValidationMessageFor(model => model.roomCode)
            </td>
        </tr>
        <tr>
            <td>Building Name
            </td>
            <td>@Html.DropDownList("buildingID", String.Empty)
            @Html.ValidationMessageFor(model => model.buildingID)</td>
        </tr>
        <tr>
            <td>Lab</td>
            <td>

            @if(@ViewBag.Lab == 1){
                @Html.CheckBox("Labe",true)
            }
            else{
                @Html.CheckBox("Labe")
            }         </td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>