@model TimetableSys_T17.Facility

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create Facility</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div>@ViewBag.error</div>
        <div class="form-group">
            
           
        </div>

        
    </div>
    <table>
        <tr>
            <td>Faciltity Name</td>
            <td> <div class="col-md-10">
                @Html.EditorFor(model => model.facilityName)
                @Html.ValidationMessageFor(model => model.facilityName)
            </div></td>
        </tr>
        <tr>
            <td></td>
            <td><div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div></td>
        </tr>

    </table>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>