@model TimetableSys_T17.Facility

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="~/bundles/jqueryval"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Facility</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.facilityID)

        <div class="form-group">
            Facility Name
            <div class="col-md-10">
                @Html.EditorFor(model => model.facilityName)
                @Html.ValidationMessageFor(model => model.facilityName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>