@model IEnumerable<TimetableSys_T17.Models.TimetableModel>



<html>
<head>
    <title>Timetable</title>
    <style type="text/css">
    html, body, div, form, select, option, input {
        margin:0;
        padding:0;

    }
   tr td {
        border: 1px solid #808080;
    }
    


    #mainRow {
        width:300px;
        height:100px;
    }
    select {
        width:100px;
    }
    hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #808080;
    margin:2px 0; padding: 0; }
    .even {
        background-color:#C0C0C0;
        color:#FFF;
    }
    .odd {
        background-color:#FFF;
    }
    .day {
        background-color:#753dae;
        color:#FFF;
    }
    
</style>

<title></title>

<script type="text/javascript">
    
    var getLec = @Html.Raw(Json.Encode(@ViewBag.getLec));
    var getCourse = @Html.Raw(Json.Encode(@ViewBag.getCourse));
    function changeSelect() {
        var degOrCourse = document.getElementById("modOrLec").value;
        if(degOrCourse == "Lecturer"){
            var options = '';
            for (var i = 0; i < getLec.length; i++) {
                options += '<option value="'+getLec[i]+'">'+getLec[i]+'</option>';
            }
            $('#options').html(options);
        }
        if(degOrCourse == "Degree"){
            var options = '';
            for (var i = 0; i < getCourse.length; i++) {
                options += '<option value="'+getCourse[i]+'">'+getCourse[i]+'</option>';
            }
            $('#options').html(options);
        }
    }
</script>
</head>
<body>
    <form action="" method="get">
    
        
    
    <br />
   <table>
       <tr>
            <td>

                Degree Or Lecture:

            </td>
           <td>

               Lecturer or Degree:

           </td>
            <td>
                Week:
            </td>
           <td>
                 Semester:
           </td>
           <td>
                     
                

           </td>

       </tr>
       <tr>
            <td>
                <select name="modOrLec" id="modOrLec" onchange="changeSelect()">
                    <option value="choose">Choose..</option>
                    <option value="Degree">Degree</option>
                    <option value="Lecturer">Lecturer</option>
                </select>
            </td>
           <td>

               <select name='nameOrCode' id="options"></select>

           </td>
            <td>
                <select name="week">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">12</option>
                     <option value="12">12</option>
                 </select>
            </td>
           <td>
               <select name="getSemester">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
           </td>
           <td>
            
                  <input type="submit" value="Search" style="width:100px"/>

           </td>
       </tr>

   </table>
 </form>
<br /><br />



    




  

<div>
<table>
        @{string rowID = "";}
        @{string rowClass = "";}
        @for(var i = 0; i < 6; i++){
        
            
            if(i == 0){
                rowID = "top";
            } else{
                rowID = "mainRow";
            }
            
            if(i % 2 == 0){
                rowClass = "even";
            }
            if(i % 2 != 0){
                rowClass = "odd";
            }
            
            <tr id="@rowID" class="@rowClass">
            @for(var j = 0; j<10; j++){
                
                if(i==0 && j == 1 ){
                        <td>9:00 - 10:00</td>
                }
                if(i==0 && j == 2 ){
                        <td>10:00 - 11:00</td>
                }
                if(i==0 && j == 3 ){
                        <td>11:00 - 12:00</td>
                }
                if(i==0 && j == 4 ){
                        <td>12:00 - 13:00</td>
                }
                if(i==0 && j == 5 ){
                        <td>13:00 - 14:00</td>
                }
                if(i==0 && j == 6 ){
                        <td>14:00 - 15:00</td>
                }
                if(i==0 && j == 7 ){
                        <td>15:00 - 16:00</td>
                }
                if(i==0 && j == 8 ){
                        <td>16:00 - 17:00</td>
                }
                if(i==0 && j == 9 ){
                        <td>17:00 - 18:00</td>
                }
                if(i == 1 && j==0 ){
                    <td class="day">Monday</td>
                }
                if(i == 2 && j==0 ){
                    <td class="day">Tuesday</td>
                }
                if(i == 3 && j==0 ){
                    <td class="day">Wednesday</td>
                }
                if(i == 4 && j==0 ){
                    <td class="day">Thursday</td>
                }
                if(i == 5 && j==0 ){
                    <td class="day">Friday</td>
                }
               if(i==0 && j==0){
                    <td>    </td>
               }
               if(j!=0 && i!=0){
        
               
                    <td colspan="@ViewBag.sessionLength">
                    @if(@ViewBag.error == "good"){ 
                        if(@ViewBag.req.periodID == j && @ViewBag.req.dayID == i){
                           
                          <b>  @ViewBag.moduleCode </b><hr />
                          <b>  @ViewBag.moduleName </b> <br />
                          <b>  @ViewBag.roomCode </b> <br /><hr />  
                            @ViewBag.type <br />
                            
                            @ViewBag.buildingName   <br /><hr />
                            @ViewBag.weeks
                        } 
                    }
                            

                               

                    </td>
               }
}

               
                
            
    
            </tr>

        }
</table>
</div>

   
    


</body>

</html>