<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/Content/jquery-ui.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.theme.css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.8.3.js"></script>
    <script src="/Scripts/jquery-2.1.3.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/ttablejs.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/bootstrap-multiselect.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top"><img class="logo" src="~/Content/images/lborologo.jpg" alt="Image" />
        <div class="container">
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Loughborough University Timetabling Website", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Create Request", "Index", "Request")</li>
                    <li>@Html.ActionLink("View Request", "Index", "View")</li>
                    <li>@Html.ActionLink("Timetable", "Index", "Timetable")</li>
                    <li>@Html.ActionLink("Manage Rooms", "Index", "CreateRoom");</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>For Any help, contact: help@admin.lboro.ac.uk</p>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>

        </footer>
    </div> 


    @RenderSection("scripts", required: false)
</body>
</html>
