@model TimetableSys_T17.Room

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Room Details - @Html.DisplayFor(model => model.roomCode)</h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.roomCode, "Room Code")
        </dt>

        <dd>
           
        </dd>

        <dt>
          Building:  
        </dt>

        <dd>
            @ViewBag.building
        </dd>
        <dt>
            Facilities
        </dt>
        @if(@ViewBag.count == 0)
        {
            <dd>No facilities</dd>
        }
        else{
            foreach (var x in @ViewBag.Fac[0])
            {
                <dd>@x</dd>
            }
        }  
        <dt>
           
            Capacity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
          Lab:  @Html.LabelFor(model => model.lab, "Lab")
        </dt>

        <dd>
            @if(@ViewBag.Lab == 1){
                <p>Yes</p>
            }
            else{
                <p>No</p>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
